<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>News NLP</title>
    </head>

    <body>

        <header>
            <div class="title">
                Evaluate News Article with Natural Language Processing 
            </div>
        </header>
        <main>
             <section class="intro-section">
                <img src="https://cdn.pixabay.com/photo/2018/05/08/08/44/artificial-intelligence-3382507_1280.jpg" class="intro-img">
                <div class="overlay-text">
                    <p>Natural Language Processing (NLP) is a field of AI that gives computers the ability to read and understand human languages. 
                     This application uses MeaningCloud Sentiment Analysis API which uses advanced natural language processing techniques to analyze text and detect the polarity associated with it.</p>
                </div>
            </section>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="urlToAnalyze" type="text" name="urlToAnalyze" value="" placeholder="Enter a news article url to analyze">
                    <input type="submit" name="" value="analyze">
                </form>
            <section>

            <section>
                <div id="results"></div>
            </section>
        </main>


        <footer>
            <p> 2020&copy; <a href="https://github.com/sdkdeepa" target="_blank">Deepa Subramanian</a></p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>