@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

footer {
  background: rgb(87, 143, 212);
  color: black;
  height: 70px;
  display: grid;
  align-content: center;
  justify-content: center;
  font-family:'Montserrat';
}

a {
  color: blue;
  text-decoration: none;
}