form {
  border: 1px solid #f0f4f8;
  border-radius: 30px;
  padding: 40px;
  background: #f0f4f8;
  box-shadow: 0 1px 3px hsla(0%, 0%, 0%, 0.2);
}

input[type="text"] {
  width: 100%;
  max-width: 100%;
  font-size: 18px;
  line-height: 1;
  padding: 15px 20px;
  margin-bottom: 15px;
  border: 2px solid #bcccdc;
  border-radius: 50px;
  &.error {
    border: 2px solid #d64545;
  }
}

input[type="submit"] {
  background: #0a558c;
  border: 1px solid #0a558c;
  width: 100%;
  padding: 15px 20px;
  border-radius: 50px;
  color: #dceefb;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  transition: background ease 0.2s;
  &:hover {
    background: #2680c2;
    cursor: pointer;
  }
}